.radio {
  padding: 20px 24px;
  gap: 15px;
  max-width: 272px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-left: 30px;
}

.modalbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 8px;
  color: #faf8ff;
  background-color: #220f4b;

  h3 {
    padding: 20px 0px 0px 0px;
  }
}

.modal {
  width: 360px !important;
  height: 378px;
}

.line {
  width: 272px;
  height: 0px;
  border: 2px solid #70bf63;
  margin-bottom: 20px;
}

.addbtn {
  width: 272px;
  height: 47px;
  color: $light-wheet-color;
  background: $green-color;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.addbtn2 {
  width: 272px;
  height: 47px;
  color: $light-wheet-color;
  background: $plum-dark-color;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    border: 2px solid $green-color;
  }
}
