.cheapTwo {
    background-color: $light-wheet-color;
    padding: 0 0 60px 0;

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 40px;
        
        span {
            padding: 10px 24px 10px 60px;
            gap: 10px;
            width: 489px;
            height: 54px;
            gap: 10px;
            background: linear-gradient(90deg, #71C064 0%, #8AE37C 100%);
            border-radius: 0px 23px 23px 0px;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
        }
    }

    &__simillarswiper {
        display: flex;
        direction: row;

        &_slide {
            position: relative;
            display: flex;
            align-items: center;
            gap: 44px;
            border-radius: 23px 0 0 23px;
            background: #F0EBFB;
        }

        &_summary {
            padding-right: 15px;

            &_shipping {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;

                div {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 144px;
                    height: 144px;
                    border-radius: 50%;
                    background: #85DC78;
                    bottom: -20px;

                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;

                        color: $plum-dark-color;
                    }
                }
            }

            &_price {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 30px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 65px;
                color: $plum-dark-color;
            }

            &_buy {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;

                button {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 35px;
                    gap: 10px;
                    height: 54px;
                    background: $plum-dark-color;
                    border-radius: 30px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 34px;
                    color: #E7DBEA;
                }
            }

            &_code {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-top: 60px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $plum-dark-color;

            }
        }

    }

    .chevronL {
        display: flex;
        align-items: center;
        padding: 0;
        width: 50px;
    }

    .chevronR {
        display: flex;
        align-items: center;
        padding: 0;
        width: 50px;
    }

    &__signPlus {
        padding: 0;
        width: 44px;
        height: 44px;
    }

    &__signEqual {
        padding: 0;
        width: 44px;
        height: 25px;
    }
}