.modal {
    background: rgba(87, 60, 145, 0.5);
    backdrop-filter: blur(2.5px);

    &__main {
        border-radius: 10px !important;
        background: linear-gradient(180deg, #FAF8FF 0%, #F2EDFF 100%);
        box-shadow: 0px 0px 15px rgba(34, 15, 75, 0.5), inset 7px 7px 20px #FAF5FF, inset -7px -7px 20px #F7EEFF;

        &_card {
            border-radius: 10px !important;
            background: #F5F1FF;
            border: 2px solid $plum-dark-color;
            margin: 24px;

            .header {
                border-bottom: 2px solid $green-color;
                margin: 24px;

                font-family: 'Noto Sans';
                font-style: normal;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 500;
                font-size: 23px;
                line-height: 31px;
                color: $plum-dark-color;
            }

            button {
                background: transparent;
                margin-bottom: 24px;

                span {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 25px;
                    color: #573C91;
                }
            }

            .details {
                position: relative;
                display: flex;
                flex-direction: row;
                border-radius: 0 0 10px 10px;
                background: #E6E1F1;

                &_col {
                    position: relative;
                    min-height: 38px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 !important;

                    div {
                        padding: 12px 20px;
                        border-top: 2px solid #F5F1FF;
                        width: 100% !important;

                        span {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 25px;
                            color: $plum-dark-color;
                        }
                    }
                }

                .line {
                    border: 1.2px solid #F5F1FF;
                    width: 0px;
                    padding: 0;
                }
            }

            .row {
                padding: 24px;
                gap: 24px;
                display: flex;
                align-items: flex-end;
                
                .instruction {

                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: $plum-dark-color;
                }

                .notes {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;


                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: #81528C;
                    }
                }
            }
        }
    }

}