@import "../../base";

.container_size {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    select,
    input {
        outline: none;
        border: 1px solid $plum-violet-color;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        padding: 8px;
    }

    svg {
        width: 30px;
        height: 30px;
        fill: $plum-dark-color;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
            fill: $plum-violet-color;
        }
    }
}

.click_btn {
    background: $plum-violet-color;
    width: 250px;
    font-weight: 600;
    color: $light-wheet-color;
    height: 50px;
    cursor: pointer;
    margin: 5px 0;

    &:hover {
        box-shadow: 0px 0px 5px 0px $plum-violet-color;
    }

}