.modal {
  background: rgba(87, 60, 145, 0.5);
  backdrop-filter: blur(2.5px);

  &__body {
    background: linear-gradient(180deg, #faf8ff 0%, #f2edff 100%);
    box-shadow:
      0px 0px 15px rgba(34, 15, 75, 0.5),
      inset 7px 7px 20px #faf5ff,
      inset -7px -7px 20px #f7eeff;
    border-radius: 10px !important;
    padding: 24px;

    &_card {
      background: #f5f1ff;
      border: 2px solid $plum-dark-color;
      border-radius: 10px;

      &_rowName {
        padding: 30px 82px 0 0;

        .col {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 13px 24px;
          background: linear-gradient(90deg, #220f4b 0%, #573c91 100%);
          border-radius: 0px 23px 23px 0px;
        }

        span {
          font-family: "Noto Sans";
          font-style: normal;
          font-size: 20px;
          line-height: 27px;

          &:first-of-type {
            font-weight: 400;
            color: $light-wheat-color;
          }

          &:last-of-type {
            font-weight: 500;
            color: $green-color;
          }
        }
      }

      &_rowDesc {
        padding: 24px;
        gap: 10px;

        span {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;

          &:first-of-type {
            text-decoration-line: underline;

            color: $green-color;
          }

          &:last-of-type {
            color: $plum-dark-color;
          }
        }
      }
    }
  }
}
