.product {
    position: relative;
    width: 290px;
    height: 500px;

    &__infos {
        width: 100px;
        margin-top: 1px;

        h1 {
            font-size: 13px;
            font-weight: normal;
            color: #222;
        }

        span {
            color: $redish-color;
            font-weight: 600;
        }
    }

    &__colors {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 5px;

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: $shadow-1;
            cursor: pointer;
            outline-offset: 2px;

            &:hover {
                outline: 1px solid #000;
            }
        }

        .active {

            outline: 1px solid #000;
        }

        span {
            width: 21px;
            height: 21px;
            border-radius: 50%;
            box-shadow: $shadow-1;
            overflow: hidden;
        }
    }

    &__discount {
        position: absolute;
        top: 24px;
        left: 0px;
        z-index: 1;
        color: white;
        width: 104px;
        height: 46px;
        border-radius: 0px 23px 23px 0px;
        display: grid;
        place-items: center;
        font-size: 20px;
        font-weight: 600;
        background: linear-gradient(90deg, #70BF63 0%, #8AE37C 100%);
    }
}

.swiper {
    position: relative;
    cursor: pointer;
    background: #fff;

    img {
        height: 390px;
        display: block;
        border-radius: 10px;
    }
}