$plum-violet-color: #81528c;
$plum-dark-color: #220f4b;
$light-wheat-color: #faf8ff;
$green-color: #70bf63;

.header {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid $green-color;
  padding-bottom: 5px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: $plum-dark-color;
}

.ordertable {
  color: $plum-dark-color !important;

  svg {
    width: 23px;
    height: 23px;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    background: transparent;
  }
}
