.banner {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 60px;
    background-image: url("../../public/images/bannerApp.png");
    background-size: cover;
    font-family: 'Noto Sans';
    font-style: normal;

    &__bTitle {
        min-width: 65%;
        max-width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        font-weight: 500;
        font-size: 75px;
        line-height: 102px;
        color: #FAF8FF;

        @media (max-width: 460px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    &__btnApp {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0px;
        gap: 30px;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 11px 20px;
            gap: 20px;

            width: 282px;
            height: 92px;

            background: $plum-dark-color;
            border-radius: 70px;


            img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 11px;
                gap: 51px;

                width: 70px;
                height: 70px;

                background: #FAF8FF;
                border: 2px solid $plum-dark-color;
                border-radius: 50px;
            }

            .t {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &__t1 {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FAF8FF;
                }
            }
        }

    }
}