.advice {
  background: #f0ebfb;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 40px;

    span {
      padding: 13px 60px;
      gap: 10px;
      width: fit-content;
      gap: 10px;
      background: linear-gradient(90deg, #220f4b 0%, #573c91 100%);
      border-radius: 0px 23px 23px 0px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 34px;
      color: #ffffff;
    }
  }

  &__row {
    padding: 0 60px 40px 60px;

    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      color: $plum-dark-color;
    }
  }
}
