@import "../../base";

.colors {
   // padding-top: 1rem;
   // border-top: 1px solid #ccc;
    color: $plum-dark-color;

    button {
        background: $blue-color;
        color: #fff;
    }
}

.square_color {
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

.picker {
    margin-top: 1rem; 
    margin-bottom: 1rem;

    .label_title {
        padding-right: 1rem;
    }

    .label_title2 {
        padding-right: 1rem;
        margin-left: 1rem;
    }
    
    .control_inp2{
        height: 40px;
        border: 1px solid $plum-violet-color;
    }
}


.error_msg {
    color: red;
    font-size: 13px;
}
.header__error {
    color: red;
}
.click_btn {
    background: $plum-violet-color;
    width: 250px;
    font-weight: 600;
    color: $light-wheet-color;
    height: 50px;
    cursor: pointer;
    margin: 5px 0;

    &:hover {
        box-shadow: 0px 0px 5px 0px $plum-violet-color;
    }

}