.cont {
  background-color: $light-wheet-color;
  padding: 0px 50px 50px 50px;

  .product {
    width: 100%;
    padding: 24px !important;
    margin: 10px;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 23px;
    background: linear-gradient(180deg, #faf8ff 0%, #f2edff 100%),
      linear-gradient(180deg, #220f4b 0%, #573c91 100%);
    box-shadow:
      0px 0px 10px rgba(34, 15, 75, 0.5),
      inset 7px 7px 20px #faf5ff,
      inset -7px -7px 20px #f7eeff;
  }
}

.products_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 50px;

  .col {
    padding: 0;
    display: flex;

    @media (min-width: 740px) {
      width: 50%;
    }

    @media (min-width: 1100px) {
      width: 33.33%;
    }

    @media (min-width: 1400px) {
      width: 25%;
    }

    @media (min-width: 1600px) {
      width: 20%;
    }
  }
}

.bodycard {
  display: flex;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.cartst {
  min-width: 260px;
  height: 269px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $plum-dark-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0px 0px 5px 0px #220f4b;
    }
  }

  p {
    width: 80%;
    height: 46px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $plum-dark-color;
    margin-right: 15px;
    margin-left: 0px;
  }

  iframe {
    border-radius: 23px;
    width: 100%;
    height: 190px !important;
    margin: 0;
    padding: 0;
  }
}

.morevideo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 335px;
  border: none;
  background-color: $light-wheet-color;
  padding: 0px;
}

.textcard {
  width: 300px;
  height: 68px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #220f4b;
}

.lastcardbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.ytbtn {
  width: 243px;
  height: 48px !important;
  font-family: "Noto Sans";
  font-weight: 320;
  font-size: 23px;
  border-radius: 30px !important;
  color: #faf8ff;
  border: none;
  background-color: $plum-dark-color;

  &:hover {
    box-shadow: 0px 0px 5px 0px #220f4b;
    background-color: #220f4b;
  }
}
