
.cont {
    padding-top: 50px;
    background-color: $light-wheet-color;
    padding-bottom: 50px;
}

.products_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 50px 0px 50px;
    gap: 15px;

    .col {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        justify-self: flex-end;

        @media (min-width: 1200px) {
            width: 30.33%;
        }

        @media (min-width: 1400px) {
            width: 25%;
        }

        @media (min-width: 1600px) {
            width: 20%;
        }
    }
}

.colcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartst {
    max-width: 335px;
    height: 299px;
    padding: 24px;
    border-radius: 23px;
    background: linear-gradient(180deg, #FAF8FF 0%, #F2EDFF 100%);
    box-shadow: 0px 0px 15px rgba(34, 15, 75, 0.5), inset 7px 7px 20px #FAF5FF, inset -7px -7px 20px #F7EEFF;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        min-width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: $plum-dark-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 206px;
        height: 46px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $plum-dark-color;
        margin-right: 15px;
    }

    iframe {
        border-radius: 23px;
        height: 190px !important;
    }
}

.morevideo {
    border: none;
    background-color: $light-wheet-color;
    padding: 0px;
}

.textcard {
    width: 300px;
    height: 68px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #220F4B;
}

.lastcardbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 300px;
    height: 299px;
    background-color: $light-wheet-color;
}

.ytbtn {
    width: 243px;
    height: 48px !important;
    font-family: 'Noto Sans';
    font-weight: 320;
    font-size: 23px;
    border-radius: 30px !important;
    color: #FAF8FF;
    border: none;
    background-color: $plum-dark-color;
}