

.litext_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $plum-dark-color;

    img {
        cursor: pointer;
    }
}

.form_input_card {
    padding: 15px 24px;
    max-width: 860px;
    height: 52px;
    border: 2px solid #220F4B;
    border-radius: 35px;
    &:focus {
        border: 2px solid #220F4B;
        box-shadow: 0px 0px 5px 0px #220F4B;
    }
  }

  .flex_row_card {
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    padding-top: 10px;
  
    .dark_button {
      width: 180px;
      height: 46px;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      border-radius: 30px;
      color: #FAF8FF;
      background-color: #220F4B;
      border: none;
  
      &:hover {
          box-shadow: 0px 0px 5px 0px #220F4B;
          background-color: #220F4B;
      }
  }
  
  .light_button {
      width: 180px;
      height: 46px;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      border-radius: 30px;
      color: #220F4B;
      background-color: #FAF8FF;
      border: 2px solid #220F4B;
      border-radius: 23px;
  
      &:hover {
          box-shadow: 0px 0px 5px 0px #220F4B;
          background-color: #FAF8FF;
      }
  }
  }

  .card_image{
    padding-bottom: 18px;
  }