.footer {
    background: #220F4B;
    height: 560px;
    padding: 60px;
    color: #FAF8FF;
    
    &_container {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-areas:
            "links"
            "socials"
            "newsletter"
            "copyright"
        ;

        @media(min-width: 1200px) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
    }

    h5 {
        margin-left: -20px;
        width: 200px
    }

    &_links {
        grid-area: links;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        ul {
            padding: 0px 5px 5px 5px;

            li {
                font-size: 14px;

                a {
                    color: #FAF8FF;
                    line-height: 30px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &_socials {
        grid-area: socials;
        justify-self: center;

        section {
            ul {
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 3rem;

                li {
                    color: #666;

                    &:hover {
                        color: $plum-violet-color;
                    }

                    div {
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        background-color: $green-color;
                        text-align: center;
                        padding-top: 8px;

                        svg {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }
        }
    }

    &_flex {
        display: flex;
        justify-self: center;
        padding-left: 100px;
        padding-right: 100px;

        input {
            border-radius: 25px;
        }

        button {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            margin-left: -30px;
        }
    }

    &_newsletter {
        grid-area: newsletter;
        margin-bottom: 20px;
        padding: 30px;

        input {
            outline: none;
            border: none;
            flex: 1;
            height: 40px;
            font-size: 14px;
            padding-left: 25px;
        }

        button {
            width: 120px;
        }
    }

    &_payment {
        grid-area: payment;
    }

    &_flexwrap {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 2rem;

        svg {
            width: 50px;
            height: 30px;
            object-fit: cover;

        }
    }

    &_copyright {
        grid-area: copyright;
        text-align: center;

        section {
            font-size: 14px;
            color: #FAF8FF;
            align-items: center;
            text-align: center;
            margin-top: 10px;
        }

        .location{
            color: #a09f9f;
            text-decoration: none;
            
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 2rem;
            justify-content: center;

            li {
                position: relative;

                a {
                    color: #a09f9f;
                }

                &:after {
                    content: "";
                    width: 1px;
                    height: 20px;
                    background: #a09f9f;
                    position: absolute;
                    right: -1rem;
                }

                &:last-of-type::after {
                    display: none;
                }
            }
        }
    }
}

.imglogo {
    width: 200px;
    height: 80px;
    object-fit: contain;
    margin-top: -15px;
    margin-left: -20px;
}