$plum-violet-color: #81528c;
$plum-dark-color: #220f4b;
$light-wheet-color: #faf8ff;
$green-color: #70bf63;

.btnWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  min-width: 120px;
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
  background: $plum-dark-color;
  color: $light-wheet-color;

  &:hover {
    box-shadow: 0px 0px 5px 0px #220f4b;
  }
}

.header {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid $green-color;
  padding-bottom: 5px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: $plum-dark-color;

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  span {
    display: flex;
    font-size: 14px;
    font-weight: normal;
  }

  img {
    width: 30px;
  }
}

.flex {
  margin-top: 1rem;
}

.header_error {
  color: $error-color;
  border-color: $error-color;
}

.error_bg {
  background: $error-color !important;
}
