.btnWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn {
    min-width: 120px;    
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    //border-radius: 5px;
    border: 1px solid #222;
    color: #222;
    &__primary {
        background: $blue-color;
        color: #fff;
    }
}
.header {
    font-weight: 700;
    font-size: 20px;   
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .flex {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    span {
        display: flex;
        font-size: 14px;
        font-weight: normal;
    }
    img {
        width: 30px;
    }
}