$plum-violet-color: #81528c;
$plum-dark-color: #220f4b;
$light-wheat-color: #faf8ff;
$green-color: #70bf63;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: $light-wheat-color;
  height: 100%;
  width: 80px;
  transition: all 0.1s ease;
  z-index: 2;

  &__toggle {
    position: absolute;
    right: -19.5px;
    top: 50px;
    height: 50px;
    width: 20px;
    background: $light-wheat-color;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    place-items: center;
  }

  &__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 150px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    border-top: 1px solid $green-color;
    padding-left: 0;
    margin-left: 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid $light-wheat-color;
      background-color: $plum-dark-color;
    }
  }

  &__list {
    li {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding-left: 13px;
      margin-bottom: 10px;
      cursor: pointer;
      margin-right: 15px;

      &:hover {
        background: $plum-dark-color;
        color: $light-wheat-color;
        font-weight: 600;
        box-shadow: 0px 0px 5px 0px #220f4b;

        svg {
          fill: $light-wheat-color;
        }

        .show {
          color: $light-wheat-color !important;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        justify-content: flex-start;

        svg {
          width: 25px;
          height: 25px;
          fill: $plum-dark-color;
          padding: 0;
        }

        span {
          display: none;
        }
      }
    }
  }

  &__dropdown {
    &_header {
      font-weight: 600;
      border-bottom: 1px solid $green-color;
      padding: 5px 5px 5px 25px;

      .show {
        font-size: 16px;
      }
    }

    ul {
      margin-top: 5px;

      li {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }

  nav {
    ul {
      li {
        background: $plum-dark-color;
        border-radius: 50%;
        justify-content: flex-start;
        align-items: center;
        display: flex;

        svg {
          fill: $light-wheat-color;
        }
      }
    }
  }
}

.active {
  background: $plum-dark-color !important;

  a span {
    color: $light-wheat-color !important;
    font-weight: 600 !important;
  }

  svg {
    fill: $light-wheat-color !important;
  }
}

.show {
  font-size: 14px;
  color: $plum-dark-color;
  display: none;

  span {
    &:first-of-type {
      font-weight: 600;
    }
  }
}

.opened {
  width: 280px;

  li {
    width: 250px !important;
  }

  .show {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.nav_flex {
  display: flex;
  gap: 5px;

  li {
    width: 45px !important;
    height: 45px !important;

    svg {
      margin-left: -2px;
      width: 25px !important;
      height: 25px !important;
    }
  }
}
