.modaldiv {
    margin: 10px;
    border: 2px solid $plum-dark-color;
    border-radius: 10px;
    color: $plum-dark-color;

    span {
        margin-left: 20px;
    }
}

.modalbodyempty {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.modalbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-height: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #70BF6380;
        border-left: 2px solid $light-wheet-color;
        border-right: 2px solid $light-wheet-color;

    }

    &::-webkit-scrollbar-thumb {
        background: $green-color;
        border-radius: 4px;
    }
}

.line {
    width: 426px;
    height: 0px;
    border: 2px solid #70BF63;
}

.addbtn {
    width: 426px;
    height: 52px;
    color: $light-wheet-color;
    background: #220F4B;
    border-radius: 30px;
    border: none;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 480;
    margin-bottom: 30px;
}

.picture {
    box-sizing: border-box;
    display: flex;
    padding: 24px;
    width: 205px;
    height: 143px;
    background: linear-gradient(180deg, #e5e4e8 0%, #F2EDFF 100%);
    box-shadow: inset 7px 7px 20px #FAF5FF, inset -7px -7px 20px #F7EEFF;
    border-radius: 23px;
    border: 2px solid #c4c3c8;
}

.bord {
    padding: 0px;
}

.bordimage {
    display: flex;
    align-items: center;

    @media(min-width: 900px) {
        justify-content: center;
        align-items: flex-start;
    }

    @media(max-width: 1200px) {
        justify-content: center;
        align-items: flex-start;
    }

}




