$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$plum-violet-color: #81528c;
$plum-dark-color: #220f4b;
$light-wheat-color: #faf8ff;
$green-color: #70bf63;

.dropdown {
  position: relative;
  z-index: 3;

  &_toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid $light-wheat-color;
      background-color: $plum-dark-color;
    }
  }

  &_content {
    position: absolute;
    top: calc(100% - 5px);
    right: 10px;
    width: max-content;
    background: $light-wheat-color;
    box-shadow: $shadow-1;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top right;
    transition: tranform 0.3s ease 0s;

    &_icons {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;

      &_icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: grid;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: $plum-violet-color;

        svg {
          width: 25px;
          height: 25px;
          fill: $light-wheat-color;
        }

        &:hover {
          background: $plum-dark-color;
          box-shadow: 0px 0px 5px 0px #220f4b;
        }
      }
    }

    &_items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 20px;
      gap: 10px;
      cursor: pointer;

      &_item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        cursor: pointer;
        background: $plum-dark-color;
        align-items: center;
        justify-content: center;

        svg {
          width: 25px;
          height: 25px;
          fill: $light-wheat-color;
        }

        &:hover {
          background: $plum-dark-color;
          box-shadow: 0px 0px 5px 0px #220f4b;
        }
      }
    }
  }

  &_logout {
    padding: 20px;

    button {
      background: $plum-violet-color;
      color: $light-wheat-color;
      font-weight: 600;
      border-radius: 4px;
      width: 100%;
      height: 40px;
      cursor: pointer;

      &:hover {
        background: $plum-dark-color;
        box-shadow: 0px 0px 5px 0px #220f4b;
      }
    }
  }
}

.active {
  transform: scale(1);
  transition: transform 0.5s $cubic-bezier;
}
