$blue-color:#2f82ff;
$light-blue-color: #2f82ff;
$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba (99, 99, 99, 0.1) 0px 0px 4px 0px;
$plum-violet-color: #81528C;
$plum-dark-color: #220F4B;
$light-wheet-color: #FAF8FF;
$yellow-color:#fac80f;
$violet-color:#5a31f4;
$redish-color:#f15f6f;
$grey-color:#f8f8f8;
$light-error-color:#fd810169;
$error-secondary-color:#f02f2fd8;
$error-color: #ed4337;
$success-color:#6cc070;
$red-color: red;
$green-color: #70BF63;
$green-color-light: #8AE37C;
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}
$light-error-color: #fd010169;
$signin-error-color:#ed4337;
$green-color: #70BF63;
$green-color-light: #8AE37C;

.btn_plum {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: $green-color;
    color: $plum-dark-color;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
}

.btn_outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: $grey-color;
    color: $plum-violet-color;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
}
.flex{
    display:flex;
    align-items: center;
    gap: 5px;
}

.wrap{
    flex-wrap: wrap;
}
.swiper{
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    margin-right: auto;
    cursor: pointer;
    &:hover{
        .swiper-button-prev,
        .swiper-button-next{
            display: grid;
        }
    }
}
.simillar_swiper{
    max-width: 550px;
    padding-left: 0px !important;
    .swiper-pagination{
        display: none !important;
    }
    img{
        width: 100px;
        height: 160px;
        object-fit: cover;
        cursor: pointer;
        @media (min-width: 161px) {
            width: 150px;
            height: 200px;
        }
    }
}
.error{
    padding: 10px;
    color: $light-error-color;
}
.success{
    padding: 10px;
    color: $success-color;
}
