.comparison {
  padding: 0 !important;
  background: $light-wheat-color;

  &__title {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px 40px 0;
    background: $light-wheat-color;

    &_name {
      position: relative;
      padding: 13px 0 13px 60px;
      background: linear-gradient(90deg, #220f4b 0%, #573c91 100%);
      border-radius: 0px 23px 23px 0px;
      font-size: 32px;
      color: $light-wheat-color;

      span {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  &__parameters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 !important;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 60px;
      width: 487px;
      height: 64px;
      background: linear-gradient(90deg, #71c064 0%, #8ae37c 100%);
      border-radius: 0px 23px 23px 0px;
      font-family: "Noto Sans";
      font-weight: 600;
      font-size: 25px;
      line-height: 34px;
      color: #ffffff;
    }

    &_colbtns {
      display: flex;
      padding-right: 60px !important;
      justify-content: flex-end;
      gap: 25px;

      button {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
        color: #573c91;
        background: transparent;
      }
    }
  }

  &__cards {
    margin: 0 !important;
    padding: 10px 50px;

    .colEmpty {
      padding: 0;
      display: flex;
      box-sizing: border-box;

      @media (min-width: 1600px) {
        width: 20% !important;
      }

      &__empty {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 15px;
        height: 312px;
        width: 100%;
        padding: 24px !important;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 23px;
        background: linear-gradient(180deg, #faf8ff 0%, #f2edff 100%),
          linear-gradient(180deg, #220f4b 0%, #573c91 100%);
        box-shadow:
          0px 0px 10px rgba(34, 15, 75, 0.5),
          inset 7px 7px 20px #faf5ff,
          inset -7px -7px 20px #f7eeff;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid $plum-dark-color;
          background-color: $light-wheat-color;

          &:hover {
            box-shadow: 0px 0px 5px 0px #220f4b;
          }
        }

        span {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 500;
          color: $plum-dark-color;
          font-size: 20px;
          line-height: 27px;
        }

        .line {
          width: 100%;
          height: 0px;
          border: 2px solid $green-color;
        }

        div {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding: 0px;
          gap: 40px;

          .btnscales {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            border-radius: 23px;
            border: 2px solid $plum-dark-color;
            background-color: $light-wheat-color;
          }

          span {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
    .row {
      position: relative;
      padding: 0;
      display: flex;
      box-sizing: border-box;

      .col {
        padding: 0;
        display: flex;
        box-sizing: border-box;
        margin: 0;
      }

      @media (min-width: 1600px) {
        width: 80% !important;
      }

      .btnl {
        position: absolute !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: -6px;
        width: 40px;
        height: 40px;
        top: 45%;
        background: #faf8ff;
        border: 2px solid #220f4b;
        border-radius: 50%;
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 2;

        &:hover {
          box-shadow: 0px 0px 5px 0px #220f4b;
        }
      }

      .btnr {
        position: absolute !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -6px;
        width: 40px;
        height: 40px;
        top: 45%;
        background: #faf8ff;
        border: 2px solid #220f4b;
        border-radius: 50%;
        flex: none;
        order: 1;
        flex-grow: 1;
        z-index: 2;

        &:hover {
          box-shadow: 0px 0px 5px 0px #220f4b;
        }
      }
    }
  }

  .accordion {
    margin: 0 !important;
    padding: 0 60px;

    &__item {
      background: transparent;
      border-bottom: 1px solid #e6e1f1;

      &_header {
        button {
          padding-left: 0;
          box-shadow: none;
          background: transparent;
          gap: 25px;
          height: 50px;
          z-index: 0 !important;

          span {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            color: $green-color;
          }

          &::after {
            margin: 0;
            background-size: 30px 30px;
            background-image: url("../public/icons/down-btn.png");
            width: 30px;
            height: 30px;
          }
        }
      }

      &_body {
        padding: 0;

        table {
          font-family: "Noto Sans";
          font-style: normal;
          width: 100%;

          tbody {
            background: linear-gradient(90deg, #e6e1f1 50.52%, #e6e1f1 97.92%);
            border: 1px solid $light-wheat-color;

            tr {
              height: 44px;
              color: $plum-dark-color;

              &:hover {
                color: #faf8ff;
                background-color: #846fb2;
              }

              border: 1px solid $light-wheat-color;

              td {
                padding: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                border: 1px solid $light-wheat-color;

                &:first-of-type {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 25px;
                  padding: 10px 24px;

                  img {
                    margin-left: 10px;
                    width: 21px;
                    height: 21px;
                    color: rgba(34, 15, 75, 0.5);
                    border: 2px solid rgba(34, 15, 75, 0.5);
                    border-radius: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tooltip {
  width: 500px !important;
  border-radius: 23px !important;
  background: linear-gradient(180deg, #faf8ff 0%, #f2edff 100%) !important;
  box-shadow:
    0px 0px 15px rgba(34, 15, 75, 0.5),
    inset 7px 7px 20px #faf5ff,
    inset -7px -7px 20px #f7eeff;
  padding: 20px !important;
  opacity: 1 !important;
  z-index: 3;

  &__card {
    border-radius: 23px !important;

    &_body {
      padding-bottom: 0 !important;
      border-radius: 23px !important;
      background: #f5f1ff;
      border: 2px solid $plum-dark-color;

      .header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $green-color;
        font-family: "Noto Sans";
        font-style: normal;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 23px;
        line-height: 31px;
        color: $plum-dark-color;

        button {
          width: 20px;
          height: 20px;
          padding: 0;
          background-color: transparent;
        }
      }

      .text {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $plum-dark-color;
        height: 300px;
        padding: 15px 15px;
        margin: 0;
        gap: 10px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: #70bf6380;
          border-left: 1.5px solid $light-wheat-color;
          border-right: 1.5px solid $light-wheat-color;
        }

        &::-webkit-scrollbar-thumb {
          background: $green-color;
          border-radius: 3px;
        }
      }
    }
  }
}
