.comparison {
    padding: 0 !important;
    background: $light-wheet-color;

    &__title {
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 60px 40px 0;
        background: $light-wheet-color;

        &_name {
            position: relative;
            padding: 13px 0 13px 60px;
            background: linear-gradient(90deg, #220F4B 0%, #573C91 100%);
            border-radius: 0px 23px 23px 0px;
            font-size: 32px;
            color: $light-wheet-color;

            span {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
            }

        }
    }

    &__parameters {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
        margin: 0 !important;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 60px;
            width: 487px;
            height: 64px;
            background: linear-gradient(90deg, #71C064 0%, #8AE37C 100%);
            border-radius: 0px 23px 23px 0px;
            font-family: 'Noto Sans';
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
        }

        &_colbtns {
            display: flex;
            padding-right: 60px !important;
            justify-content: flex-end;
            gap: 25px;

            button {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 34px;
                color: #573C91;
                background: transparent;


            }
        }

    }

    &__cards {
        margin: 0 !important;
        padding: 10px 50px;

        .colEmpty {
            padding: 0;
            display: flex;
            box-sizing: border-box;

            @media (min-width: 1600px) {
                width: 20% !important;
            }

            &__empty {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 0px;
                gap: 15px;
                height: 312px;
                width: 100%;
                padding: 24px !important;
                margin: 10px;
                box-sizing: border-box;
                border-radius: 23px;
                background: linear-gradient(180deg, #FAF8FF 0%, #F2EDFF 100%),
                    linear-gradient(180deg, #220F4B 0%, #573C91 100%);
                box-shadow: 0px 0px 10px rgba(34, 15, 75, 0.5), inset 7px 7px 20px #FAF5FF,
                    inset -7px -7px 20px #F7EEFF;



                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 2px solid $plum-dark-color;
                    background-color: $light-wheet-color;

                    &:hover {
                        box-shadow: 0px 0px 5px 0px #220F4B;
                    }
                }

                span {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    color: $plum-dark-color;
                    font-size: 20px;
                    line-height: 27px;
                }

                .line {
                    width: 100%;
                    height: 0px;
                    border: 2px solid $green-color;
                }

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0px;
                    gap: 40px;

                    .btnscales {
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 46px;
                        height: 46px;
                        border-radius: 23px;
                        border: 2px solid $plum-dark-color;
                        background-color: $light-wheet-color;
                    }

                    span {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }



        .row {
            position: relative;
            padding: 0;
            display: flex;
            box-sizing: border-box;

            .col {
                padding: 0;
                display: flex;
                box-sizing: border-box;
                margin: 0;
            }

            @media (min-width: 1600px) {
                width: 80% !important;
            }

            .btnl {
                position: absolute !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                left: -6px;
                width: 40px;
                height: 40px;
                top: 45%;
                background: #FAF8FF;
                border: 2px solid #220F4B;
                border-radius: 50%;
                flex: none;
                order: 1;
                flex-grow: 0;
                z-index: 2;

                &:hover {
                    box-shadow: 0px 0px 5px 0px #220F4B;
                }
            }

            .btnr {
                position: absolute !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                right: -6px;
                width: 40px;
                height: 40px;
                top: 45%;
                background: #FAF8FF;
                border: 2px solid #220F4B;
                border-radius: 50%;
                flex: none;
                order: 1;
                flex-grow: 1;
                z-index: 2;

                &:hover {
                    box-shadow: 0px 0px 5px 0px #220F4B;
                }
            }
        }


    }

    .accordion {
        margin: 0 !important;
        padding: 0 60px;

        &__item {
            background: transparent;
            //border-bottom: 0;
            border-bottom: 1px solid #E6E1F1;

            &_header {


                button {
                    padding-left: 0;
                    box-shadow: none;
                    background: transparent;
                    gap: 25px;
                    height: 50px;
                    z-index: 0 !important;

                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 33px;
                        color: $green-color;
                    }

                    &::after {
                        margin: 0;
                        background-size: 30px 30px;
                        background-image: url("../public/icons/down-btn.png");
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            &_body {
                padding: 0;

                table {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    width: 100%;

                    tbody {
                        background: linear-gradient(90deg, #E6E1F1 50.52%, #E6E1F1 97.92%);
                        border: 1px solid $light-wheet-color;

                        tr {
                            height: 44px;
                            color: $plum-dark-color;

                            &:hover {
                                color: #FAF8FF;
                                background-color: #846FB2;
                            }

                            border: 1px solid $light-wheet-color;

                            td {
                                //width: 25%;
                                padding: 10px;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                border: 1px solid $light-wheet-color;

                                &:first-of-type {
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 25px;
                                    padding: 10px 24px;

                                    img {
                                        margin-left: 10px;
                                        width: 21px;
                                        height: 21px;
                                        color: rgba(34, 15, 75, 0.5);
                                        border: 2px solid rgba(34, 15, 75, 0.5);
                                        border-radius: 50px;
                                    }
                                }
                            }
                        }
                    }




                }

            }
        }
    }

}

.tooltip {
    width: 500px !important;
    border-radius: 23px !important;
    background: linear-gradient(180deg, #FAF8FF 0%, #F2EDFF 100%) !important;
    box-shadow: 0px 0px 15px rgba(34, 15, 75, 0.5), inset 7px 7px 20px #FAF5FF, inset -7px -7px 20px #F7EEFF;
    padding: 20px !important;
    opacity: 1 !important;
    z-index: 3;

    &__card {
        border-radius: 23px !important;

        &_body {
            padding-bottom: 0 !important;
            border-radius: 23px !important;
            background: #F5F1FF;
            border: 2px solid $plum-dark-color;

            .header {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid $green-color;
                font-family: 'Noto Sans';
                font-style: normal;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 500;
                font-size: 23px;
                line-height: 31px;
                color: $plum-dark-color;

                button {
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    background-color: transparent;
                }

            }

            .text {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.1em;
                color: $plum-dark-color;
                height: 300px;
                padding: 15px 15px;
                margin: 0;
                gap: 10px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #70BF6380;
                    border-left: 1.5px solid $light-wheet-color;
                    border-right: 1.5px solid $light-wheet-color;

                }

                &::-webkit-scrollbar-thumb {
                    background: $green-color;
                    border-radius: 3px;
                }
            }

        }
    }
}