.modalbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 420px;
    overflow: auto;
    padding-left: 30px;
    margin: 10px 6px 0px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #70BF6380;
        border-left: 2px solid $light-wheet-color;
        border-right: 2px solid $light-wheet-color;

    }

    &::-webkit-scrollbar-thumb {
        background: $green-color;
        border-radius: 4px;
    }

    .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #70BF63;
    }

    p {
        font-weight: 300;
        font-size: 14px;
    }
}

.modaldiv {
    margin: 20px;
    border: 2px solid $plum-dark-color;
    border-radius: 10px;
    color: $plum-dark-color;
    padding-bottom: 12px;

    span {
        margin-left: 20px;
    }
}

.modalheader {
    border-color: $green-color;
    border-width: 3px;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
}