.infos {
    height: 700px;
    background: #F0EBFB;
    padding: 0;

    &__priceandaction {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;

        &_price {
            display: flex;
            align-items: center;
            height: 100px;
            
            span {
                display: flex;
                flex-direction: column;
                font-family: 'Noto Sans';
                font-style: normal;
            }
        }

        &_react {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            padding: 0;
            
            .liked {
                position: relative;

                div {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 6px 11px;
                    gap: 10px;
                    height: 28px;
                    right: -30px;
                    top: -15px;
                    background: $green-color;
                    border-radius: 30px;

                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: $light-wheet-color;
                    }
                }
            }

            button {
                position: relative;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 46px;
                height: 46px;
                background: #F0EBFB;
                border: 2px solid $plum-dark-color;
                border-radius: 23px;
                &:hover {
                    box-shadow: 0px 0px 5px 0px #220F4B;
                }
            }
        }

        &_buy {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;

            button {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 190px;
                height: 53px;
                background: $plum-dark-color;
                border-radius: 30px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                color: $light-wheet-color;

                @media (max-width: 1300px) {
                    gap: 5px;
                    width: 160px;
                    font-size: 23px;
                }
                &:hover {
                    box-shadow: 0px 0px 5px 0px #220F4B;
                }
            }
        }
    }

    &__characteristics {
        display: flex;
        align-items: center;
        height: 60px;
        background: $light-wheet-color;

        span {
            position: relative;
            left: 20px;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 44px;
            color: $plum-dark-color;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 1px;

        &_row {
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #E6E1F1;

            div {
                width: 50%;

                span {
                    padding: 8px 0 8px 20px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #220F4B;
                }
            }
        }
    }

    &__more {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 15px;

        button {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $green-color;
            background: transparent;
        }
    }


    &__sizesInfo {
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 44px 40px;
        gap: 17px;

        &_sizes {
            width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 20px;
            gap: 20px;
            height: 62px;
            background: #E1DCEC;
            border-radius: 10px;

            &_size {
                display: grid;
                place-items: center;
                display: flex;
                padding: 5px 5px;
                gap: 5px;
                background: #FFFFFF;
                border-radius: 5px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                cursor: pointer;
                color: $plum-dark-color;

                &:hover {
                    outline: 1px solid $green-color;
                    outline-offset: 2px;
                }
            }
        }

        button {
            padding: 0;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $green-color;
            background: transparent;
        }

    }
}

.pricediscount {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 24px;
    color: $plum-dark-color;
}

.priceregular {
    font-weight: 500;
    font-size: 34px;
    color: $green-color;
    @media (max-width: 1300px) {
        font-size: 28px;
    }
}

.active_size {
    outline: 2px solid $green-color;
}